
/* Limpando as margens */

*{
    margin: 0;
}

/* Inserindo uma cor padrão de fundo na página */

body{
    background: gray; 
}

/* Estilo do conteiner dos elementos da página */

.container{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: gray;
    
 }

/* Estilo do Conteiner do formulário */

 .box{
    width: 300px;
    height: 300px;
    background: #fff;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

/* Estilo do formulário */

.area-login{
    margin-top: 10%;
    display: flex;
    background: white;
    height: auto;    
}

/* Estilo para o conteiner do cabeçalho */

.area-header{
    display: flex;
    justify-content: space-between;
    background: blue;
    color: white;
    height: 30%;

}

/* Estilo para o conteiner de imagem */

.image-box{
    background-color: black;
    width: 30%; 
    }
    
/* Estilo do Texto do cabeçalho */

.header-txt{
        background-color: brown;
        width: 70%;
    }

/* Estilo das caixas tipo input */

.input-box{ 
  margin-left: 10%;  
  padding: 5%;
  width: 120%; 
  background-color: #FFDEAD;
  border: none;
  margin-bottom: 10%;
}

/* Estilo botão de entrar */

.btn-login{
    margin-left: 60%;
    padding: 5% 15%;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilo do link de criar nova conta */

.link-conta{
    margin-top: 5%;
    text-align: center;
}

/* Estilo para texto em geral */

.txt{
    font-weight: bold;
}

